$primary-blue: #14123d;
$primary-green: #14aaaa;
$secondary-blue: #1f1c5cea;
$primary-saffron: #f86c35;
$secondary-saffron: #f7c892;
$white: #ffffff;
$black: #040011;

*:not(.fa) {
    font-family: "Nunito Sans", sans-serif !important;
    scroll-behavior: smooth;
    font-weight: 600;

    &:focus-visible {
        outline: 2px solid red;
        border-radius: 2px;
        outline-offset: 2px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $primary-blue;
}

body {
    transition: 0.2s ease-in-out all;
    min-height: 100vh;
    width: 100%;

    .medium-text {
        font-size: 1.5rem;
    }

    .navbar {
        top: 0;
        position: sticky;
        display: flex;
        color: $white;
        z-index: 1000;
        align-items: center;
        padding: 0.6rem 3rem;
        background: $primary-blue;

        .navbar-toggler {
            display: none;
            margin-left: auto;
        }

        .navbar-contents {
            margin-left: auto;
            display: flex;

            .navbar-nav {
                display: flex;

                .nav-item {
                    padding: 0 1rem;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                .active {
                    a {
                        color: $primary-saffron;
                    }
                }
            }
        }

        a {
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.1rem;
        }

        #toggler-button {
            background: none;
            box-shadow: none;
            border: none;

            .fa {
                color: $white;
            }

            #xbar-icon {
                display: none;
            }
        }
    }

    section {
        padding: 2.5rem 1rem !important;
        min-height: 100vh;
        font-weight: 600;
        scroll-snap-align: start;
    }

    .home-screen {
        background: $black;
        color: $white;
        padding: 0 5rem;
        display: flex;
        justify-content: center;

        .welcome-container {
            max-width: 85rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;

            .welcome-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 2;

                .welcome-message {
                    width: 75%;
                    font-size: 2rem;
                    line-height: 3.5rem;
                    text-align: left;

                    .greet-info {
                        font-size: 1.5rem;
                    }

                    .greet-info-info {
                        line-height: 2.25rem;
                    }

                    .color-text {
                        color: $primary-saffron;
                        transition: opacity 0.5s ease;
                    }
                }

                .img-box {
                    img {
                        filter: grayscale(100%);
                        width: 100%;
                    }
                }
            }

            .social-icons {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex: 1;

                .fa {
                    padding: 1rem;
                    cursor: pointer;

                    &:hover {
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
                    }
                }

                .fa-instagram {
                    &:hover {
                        background: radial-gradient(circle farthest-corner at 35% 90%,
                                #fec564,
                                transparent 50%),
                            radial-gradient(circle farthest-corner at 0 140%,
                                #fec564,
                                transparent 50%),
                            radial-gradient(ellipse farthest-corner at 0 -25%,
                                #5258cf,
                                transparent 50%),
                            radial-gradient(ellipse farthest-corner at 20% -50%,
                                #5258cf,
                                transparent 50%),
                            radial-gradient(ellipse farthest-corner at 100% 0,
                                #893dc2,
                                transparent 50%),
                            radial-gradient(ellipse farthest-corner at 60% -20%,
                                #893dc2,
                                transparent 50%),
                            radial-gradient(ellipse farthest-corner at 100% 100%,
                                #d9317a,
                                transparent),
                            linear-gradient(#6559ca,
                                #bc318f 30%,
                                #e33f5f 50%,
                                #f77638 70%,
                                #fec66d 100%);
                    }
                }

                .fa-envelope {
                    &:hover {
                        background: #f24a48;
                    }
                }

                .fa-linkedin {
                    &:hover {
                        background: #0077b5;
                    }
                }

                .fa-github {
                    &:hover {
                        background: rgba($white, 0.7);
                    }
                }

                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }

        .scroll-indicator {
            position: fixed;
            bottom: 2rem;
            cursor: pointer;

            .fa {
                color: rgba($white, 0.2);
            }
        }
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2rem;

        .about-screen {
            color: $primary-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            flex-direction: column;
            max-width: 85rem;

            .header {
                padding-bottom: 3rem;
            }

            .about-me {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }

        .sub-header {
            padding-bottom: 0.8rem;
            text-decoration: underline;
        }

        .about-hobby {
            width: 100%;
            display: flex;

            .small-img {
                width: 1.65rem;
            }

            .yaksha {
                margin-bottom: -0.2rem;
            }

            .emoji {
                font-size: 1rem;
                opacity: 0.6;
            }

            .text-link {
                text-decoration: none;
                font-style: italic;
                color: unset;
                opacity: 0.8;
                background: linear-gradient(to right, $primary-blue 49.3%, white 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .5s ease-out;

                &:hover {
                    background-position: left bottom;
                    color: $white;
                }
            }
        }

        .about-me-more {
            padding: 2rem 0;
            display: flex;
            width: 100%;
            // align-items: center;
            justify-content: flex-start;
            font-size: 1.25rem;

            .flex-item {
                flex: 1;

                .resule-info {
                    padding-bottom: 0.5rem;
                }

                .btn {
                    text-decoration: none;
                    background-color: $primary-blue;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    color: $white;
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        border: 2px solid $primary-blue;
                        color: $primary-blue;
                        background: none;
                    }
                }
            }

            li {
                list-style: none;

                &:hover {
                    .fa-js {
                        color: #e8d44d;
                    }

                    .fa-sass {
                        color: #c66394;
                    }

                    .fa-react {
                        color: #5ed4f3d9;
                    }

                    .fa-angular {
                        color: #db2f35;
                    }

                    .fa-vuejs {
                        color: #40b27f;
                    }
                }
            }
        }
    }

    .education-section, .my-work-section, .contact-section, .more-section {
        background: $primary-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $white;
        font-size: 1.5rem;
    }

    .my-work-section, .more-section {
        background: $white;
        color: $primary-blue;
    }

    .fade {
        opacity: 0;
    }

    footer {
        background: $primary-blue;
        color: #aca6a6;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        .show {
            height: 100vh !important;
            visibility: visible !important;
            transition: all 0.5s linear;
        }

        .navbar {
            padding: 0.6rem 1rem;

            .navbar-contents {
                .navbar-nav {
                    position: absolute;
                    top: 3.9rem;
                    left: 0;
                    flex-direction: column;
                    background: $secondary-blue;
                    z-index: 1000;
                    color: $black;
                    width: 100%;
                    height: 0;
                    align-items: center;
                    visibility: hidden;
                    transition: all 0.5s linear;

                    .nav-item {
                        padding: 1.5rem 0;
                        width: 100%;
                        text-align: center;
                        background-position: center;
                        transition: background 0.8s;

                        &:hover {
                            background: $primary-blue radial-gradient(circle, transparent 1%, $primary-blue 1%) center/15000%;
                        }

                        &:active {
                            background-color: rgba($color: $primary-blue, $alpha: 0.4);
                            background-size: 100%;
                            transition: background 0s;

                            a {
                                color: $white;
                            }
                        }
                    }

                    .active {
                        a {
                            color: $primary-saffron;
                        }
                    }

                    a {
                        color: $white;
                    }
                }
            }

            .navbar-toggler {
                display: block;
            }
        }

        .about-section {
            .about-screen {

                .header,
                .about-me {
                    padding-bottom: 1rem;
                }
            }

            .sub-header {}

            .about-hobby {
                .text-link {}
            }

            .about-me-more {
                flex-direction: column;
                padding: 0.5rem 0;

                .sub-header {
                    padding: 1rem 0;
                }

                .resume-container {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    body {
        .home-screen {
            padding: 1rem 0;

            .welcome-container {
                .welcome-content {
                    flex-direction: column;

                    .img-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        order: 0;

                        img {
                            width: 50%;
                        }
                    }

                    .welcome-message {
                        width: 100%;
                        padding: 1rem 0;
                        text-align: center;
                        order: 1;
                        line-height: 2.5rem;
                        font-size: 1.6rem;

                        .greet-info {
                            font-size: 1.2rem;
                        }

                        .greet-info-info {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}