$primary-blue: #14123d;
// $primary-green: #14aaaa;
$secondary-blue: #1f1c5cea;
$primary-saffron: #f86c35;
$secondary-saffron: #f7c892;
$white: #ffffff;
$black: #040011;

*:not(.fa) {
    font-family: 'Nunito Sans', sans-serif !important;
    &:focus-visible {
        outline: 2px solid red;
        border-radius: 2px;
        outline-offset: 2px;
    }
}

body {
    transition: 0.2s ease-in-out all;
    height: 100vh;
    width: 100%;

    .navbar {
        top: 0;
        display: flex;
        color: $white;
        z-index: 1000;
        position: sticky;
        align-items: center;
        padding: 0.6rem 3rem;
        background: $primary-blue;

        .navbar-toggler {
            display: none;
            margin-left: auto;
        }

        .navbar-contents {
            margin-left: auto;
            display: flex;

            .navbar-nav {
                display: flex;

                .nav-item {
                    padding: 0 1rem;
                }

                .active {
                    a {
                        color: $primary-saffron;
                    }
                }
            }
        }

        a {
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.1rem;
        }

        #toggler-button {
            background: none;
            box-shadow: none;
            border: none;

            .fa {
                color: $white;
            }

            #xbar-icon {
                display: none;
            }
        }
    }

    .show {
        height: 100vh !important;
        visibility: visible !important;
        transition: all 0.5s linear;
    }

    section {
        padding: 2.5rem 0.5rem !important;
        height: calc(100% - 144px);
        font-weight: 600;
    }

    .home-screen {
        background: $black;
        color: $white;
        padding: 0 5rem;
        display: flex;
        justify-content: center;

        .welcome-container {
            max-width: 85rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;

            .welcome-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 2;

                .welcome-message {
                    width: 75%;
                    font-size: 2rem;
                    line-height: 3.5rem;
                    text-align: left;

                    .greet-info {
                        font-size: 1.5rem;
                    }

                    .color-text {
                        color: $primary-saffron;
                        transition: opacity .5s ease;
                    }
                }

                .img-box {
                    img {
                        filter: grayscale(100%);
                        width: 100%;
                    }
                }
            }

            .social-icons {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex: 1;

                .fa {
                    padding: 1rem;
                    cursor: pointer;

                    &:hover {
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
                    }
                }

                .fa-instagram {
                    &:hover {
                        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                    }
                }

                .fa-envelope {
                    &:hover {
                        background: #f24a48
                    }
                }

                .fa-linkedin {
                    &:hover {
                        background: #0077b5;
                    }
                }

                .fa-github {
                    &:hover {
                        background: rgba($white, 0.7)
                    }
                }

                a {
                    color: #FFFFFF;
                    text-decoration: none;
                }

            }

        }

        .scroll-indicator {
            position: fixed;
            bottom: 2rem;
            cursor: pointer;

            .fa {
                color: rgba($white, 0.2);
            }
        }
    }

    .fade {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        .navbar {
            padding: 0.6rem 1rem;

            .navbar-contents {
                .navbar-nav {
                    position: absolute;
                    top: 3.9rem;
                    left: 0;
                    flex-direction: column;
                    background: $secondary-blue;
                    z-index: 1000;
                    color: $black;
                    width: 100%;
                    height: 0;
                    align-items: center;
                    visibility: hidden;
                    transition: all 0.5s linear;


                    .nav-item {
                        padding: 1.5rem 0;
                        width: 100%;
                        text-align: center;
                        background-position: center;
                        transition: background 0.8s;

                        &:hover {
                            background: $primary-blue radial-gradient(circle, transparent 1%, $primary-blue 1%) center/15000%;
                        }

                        &:active {
                            background-color: rgba($color: $primary-blue, $alpha: 0.4);
                            background-size: 100%;
                            transition: background 0s;

                            a {
                                color: $white;
                            }
                        }
                    }

                    .active {
                        a {
                            color: $primary-saffron;
                        }
                    }

                    a {
                        color: $white;
                    }
                }
            }

            .navbar-toggler {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    body {
        .home-screen {
            padding: 1rem 0;

            .welcome-container {
                .welcome-content {
                    flex-direction: column;

                    .img-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        order: 0;

                        img {
                            width: 50%;
                        }
                    }

                    .welcome-message {
                        width: 100%;
                        padding: 1rem 0;
                        text-align: center;
                        order: 1;
                        line-height: 2.5rem;
                        font-size: 1.6rem;

                        .greet-info {
                            font-size: 1.2rem;
                        }

                        .greet-info-info {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}